SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NASA_FIRMS_MAP_KEY=
OVERPASS_API_URL=
ALGOD_TESTNET_URL=
ALGOD_TESTNET_TOKEN=
X402_FACILITATOR_URL=
ALGORAND_RECEIVER_ADDRESS=
APP_WALLET_PASSPHRASE=
X402_PRICE_USDC=
GEMINI_API_KEY=
